{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        {% for inventory in inventories %}
        <div class="col-sm-3 d-flex align-items-sm-stretch">
            <div class="card mb-3" style="max-width: 240px;">
                <img class="card-img-top" src="{% static "img/no_image.png" %}" alt="Card image cap">
                <div class="card-body text-center">
                    <p class="card-title">Name: {{ inventory.name }}</p>
                    <hr>
                    <p>Supplier: {{inventory.supplier}}</p>

                    {% if inventory.availability and inventory.stock > 0 %}
                    <p>Availability: Available</p>
                    {% else %}
                    <p>Availability: Not Available</p>
                    {% endif %}
                </div>
                <a class="btn btn-warning" href="{{inventory.id}}">Details</a>
            </div>
            <br><br><br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}