<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4
    mb-3 bg-white border-bottom shadow-sm">
      <a href="/inventory" class="navbar-brand my-0 mr-md-auto
     font-weight-normal">Homepage</a>
      <nav class="my-2 my-md-0 mr-md-3">
      </nav>
    </div>
</header>
<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    {% block content %}
    {% endblock content %}
</body>

</html>